/*COLMARACADEMY stylesheet*/

/* 0. Common rules section*/
/* 1. Header section*/
/* 1.1 Navigation bar*/
/* 1.2 Introduction part*/
/* 2. Practicing section*/
/* 3. Learning section*/
/* 4. Thesis section*/
/* 5. Footer section*/
/* 6. Media section*/

/* 0. Common rules section*/

html { /*TODO choice of font family and font size and color*/
  font-size: 16px;
  /*font-family choose for the developpement*/
  font-family: Helvetica,sans-serif; /*see to add more font*/
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 1200px; /*1140*/
  display:flex;
  margin: 0 auto;
}
.supporting {
  width: 60%;
  overflow: hidden;
}

.supporting figure img {
  width: 100%;
  height: auto;
  display: block;
  margin: 2rem 0 2rem 1.5rem;
}


.supporting .text {
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}

.services {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 1.5rem;
  margin-top: 2rem;
}

.service  { /*TODO issue on size*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  width: 100%;
}

.service figure {
  width: 40%;
  height: auto;
}

.service figure img {
  width: 75%;
  height: auto;
  display: block;
  margin: 1rem 0 1rem 1rem;
}

.service .info { /*TODO looks like not good*/
  width: 60%;
  margin-right: 1rem;

}

.service .info span {
  font-size: 1rem;
  font-weight: bold;
}

.service .info p {
  font-size: 0.5rem;
}

.service .info a {
  color: blue;
  font-weight: bold;
  font-size: 0.5rem;
}

.section-title {
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
}


/* 1. Header section*/

.header {
  flex-direction: column;
}

/* 1.1 Navigation bar*/

nav {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.school {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.school img {
  height: 2rem;
  width: auto;
  margin-left: 1.5rem;
  margin-right: 1rem;
  display: block;
}

.school span em {
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5rem;
}

nav ul li {
  margin: 0 1rem;
  font-size: 0.751rem;
}

/* 1.2 Introduction part*/

.banner {
  background-color: #d3d3d3;
  display: flex;
  justify-content: space-between;
}

.banner .title {
  margin-left: 1.5rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  height: 100%;
  line-height: 1.2;
}

.banner .title h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.banner .title p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.banner .title .btn-start-here {
  padding: 0.25rem 8rem;
  background-color: black;
}

.banner .title .btn-start-here a {
  color: white;
}

/* 2. Practicing section*/

.practicing .supporting .text h1 { /* see if it's a common rule*/
  font-size: 1.25rem;
  font-weight: bold;

}

.practicing .supporting .text p {
  margin: 1.5rem 0 2rem 0;
  font-size: 0.75rem;
}

.practicing .supporting .text span {
  font-size: 0.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

.service.our-guest-lecture {
  background-color: #d3d3d3;
}

/* 3. Learning section*/

.learning {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  background-color: #d3d3d3;
}

.learning .courses {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto 4.5rem 2rem 4.5rem;

}

.learning .cours {
  flex: 1;
  background-color: white;
  height: 100%;
}

.learning .cours img {
  width: 100%;
  height: auto;
  display: block;
}

.learning .cours.mid {
  margin: auto 2rem;
}

.learning .cours h4 {
  margin: 1rem 1rem;
}

.learning .cours span {
  margin: 0.5rem 1rem;
}

.learning .cours p {
  margin: 0 1rem 1.5rem 1rem;
}


/* 4. Thesis section*/

.supporting figure video { /*TODO adjust size of video*/
  width: 100%;
  height: auto;
  display: block;
  margin: 2rem 0 2rem 1.5rem;
}
/*TODO rules missing text*/
/*TODO issue alignment of service Now and then*/
/*TODO background color on the 1st service*/

/* 5. Footer section*/

.footer {
  justify-content: space-between;
}

.footer span {
  font-size: 1rem;
  margin: 1rem 0 3rem 1.5rem;
}

.footer span .copyright {
  font-size: 1rem;
}
/* 6. Media queries section*/
