/**COLMARACADEMY stylesheet**/

/**0. Common rules section**/
/**1. Header section**/
  /**1.1 Navigation bar**/
  /**1.2 Introduction part**/
/**2. Practicing section**/
/**3. Learning section**/
/**4. Thesis section**/
/**5. Footer section**/


/***************************/
/**0. Common rules section**/
/***************************/

html {
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  font-size: 16px;
  color: #555555;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.supporting {
  max-width: 55%;
  overflow: hidden;
}

.supporting figure {
  width: 96.5%;
  margin-left: 1.5rem;
}

.supporting figure img {
  width: 100%;
  height: auto;
  display: block;
  margin: 2rem 0;
}

.supporting .text {
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  font-family: 'Roboto', sans-serif;
}

.supporting .text p {
  font-family: 'Roboto', sans-serif;
}

.services {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 1rem 0 2rem 1.5rem;
}

.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.service figure {
  width: 35%;
  height: auto;
  margin-left: 1rem;
}

.service figure img {
  width: 100%;
  height: auto;
  display: block;
  margin: 1rem 0;
}

.service .info {
  width: 65%;
  margin: 0.5rem 2rem;
  line-height: 1.3;
}

.service .info span {
  font-size: 1.5rem;
  font-weight: bold;

}

.service .info p {
  font-size: 1rem;
  padding: 0.5rem 0;
  font-weight: 600;
}

.service .info a {
  color: #0079ff;
  font-weight: bold;
  font-size: 1rem;
}

.section-title {
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0;
}

.section-title.colored {
  background-color: #e5e5e5;
}

.service figure img.mobile {
  display: none;
}

/*********************************************Common rules**MQ start*/

@media only screen and (max-width: 750px) {

  .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .supporting {
    max-width: 100%;
    overflow: hidden;
    margin: 0 0;
  }

  .supporting figure {
    width: 100%;
    margin-left: 0;
  }

  .supporting figure img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0;
  }

  .supporting .text {
    margin-left: 1.5rem;
    margin-bottom: 2rem;
  }

  .services {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0;
  }

  .service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .service figure {
    width: 90%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
  }

  .service figure img.mobile {
    width: 100%;
    height: auto;
    display: block;
    padding: 5% 0;
    margin: 0 0;
  }

  .service figure img.computer {
    display: none;
  }

  .service .info {
    width: 80%;
    margin: 0 auto 4rem auto;
  }

  .service .info span {
    font-size: 2rem;
    font-weight: bold;
  }

  .service .info p {
    font-size: 1.2rem;
    padding: 0.5rem 0;
    font-weight: 600;
  }

  .service .info a {
    color: #0079ff;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .section-title {
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .section-title.colored {
    background-color: white;
  }
}

/***********************************************Common rules**MQ end*/

/**********************/
/**1. Header section**/
/*********************/

.header {
  flex-direction: column;
}

/**1.1 Navigation bar**/

nav.mobile {
  display: none;
}

nav {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.school {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.school img {
  height: 2rem;
  width: auto;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
  display: block;
}

.school span em {
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5rem;
}

nav ul li {
  margin: 0 1rem;
  font-size: 1rem;
}

/**1.2 Introduction part**/

.banner {
  background-color: #e5e5e5;
}

.banner .mobile {
  display: none;
}

.banner .services {
  justify-content: center;
  line-height: 1.2;
}

.banner .main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 2.5rem 0 1rem;
}

.banner h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2.5rem;
}

.banner p {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.banner .btn-start-here {
  text-align: center;
  color: white;
  width: 100%;
  background-color: #555555;
  padding: .5rem 0;
  margin-bottom: 2rem;
}

.banner .btn-start-here:hover {
  text-align: center;
  color: black;
  background-color: #ababab;
  transition: color 0.5s ease 200ms, background-color 0.5s ease 200ms
}

.banner .btn-start-here a {
  color: white;
  font-weight: bold;
}

/***********************************************Header section**MQ start*/

@media only screen and (max-width: 750px) {

    /* Media query: Navigation bar*/

  nav.computer {
    display: none;
  }

  nav.mobile {
    display: block;
  }

  nav.mobile ul {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

    /* Media query: Introduction part*/

  .banner .mobile {
    display: block;
  }

  .banner .computer {
    display: none;
  }

  .banner .services {
    width: 90%;
    line-height: 1.2;
    margin: 2rem auto;
  }

  .banner .main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
  }

  .banner .btn-start-here {
    text-align: center;
    color: white;
    width: 100%;
    background-color: #555555;
    padding: 1rem 0;
    margin-bottom: 2rem;
  }

  .banner .btn-start-here a{
    text-align: center;
    padding: 1rem 3rem;
    margin: 1.5rem auto 2rem auto;
  }
}

/***********************************************Header section**MQ end*/

/*************************/
/**2. Practicing section**/
/*************************/

.practicing .supporting .text h2 { /*TODO see if common rule*/
  font-size: 2.3rem;
  font-weight: bold;
}

.practicing .supporting .text p {
  margin: 1.5rem 2rem 2rem 0;
  font-size: 1.2rem;
}

.practicing .supporting span {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.service.our-guest-lecture {
  background-color: #e5e5e5;
}

/***********************************************Practicing section**MQ start*/

@media only screen and (max-width: 750px) {

  .practicing .supporting {
    display: none;
  }

  .service.our-guest-lecture {
    background-color: white;
  }
}

/***********************************************Practicing section**MQ end*/

/***********************/
/**3. Learning section**/
/***********************/

.learning {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
  padding-bottom: 1rem;
}

.learning .courses {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: auto 4.5rem 2rem 4.5rem;
}

.learning .cours {
  flex: 1;
  background-color: white;
  line-height: 1.2;
}

.learning .cours img {
  width: 100%;
  height: auto;
  display: block;
}

.learning .cours.mid {
  margin: auto 2rem;
}

.learning .cours h4 {
  margin: 1.5rem 1rem 1rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.learning .cours span {
  margin: 0.5rem 1rem;
  font-size: 1.2rem;
  display: block;
}

.learning .cours p {
  margin: 0 1rem 1.5rem 1rem;
  font-size: 1.2rem;
}

.learning.mobile {
  display: none;
}

/***********************************************Learning section**MQ start*/

@media only screen and (max-width: 750px) {

  .learning.computer {
    display: none;
  }

  .learning.mobile {
    display: block;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 2rem;
  }

  .learning.mobile ul li {
    padding: 1rem 0 1.5rem 1rem;
    margin-bottom: 0.5rem;
    background-color: #cccccc;
    color: #555555;
    font-size: 1.5rem;
    font-weight: 600;
  }

}

/***********************************************Learning section**MQ end*/

/**********************/
/** 4. Thesis section**/
/**********************/

.supporting figure video {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 2rem;
}

.supporting .text h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.supporting .text p {
  margin: 1.5rem 2rem 2rem 0;
  font-size: 1.2rem;
}

 .thesis .services {
   margin-top: 0;
 }

.service.fisma {
  background-color: #e5e5e5;
}

/***********************************************Thesis section**MQ start*/

@media only screen and (max-width: 750px) {
  /* 4. Thesis section*/
  .supporting figure video {
    width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0 1.5rem 0;
  }

  .thesis .text {
    display: none;
  }

  .service.fisma {
    display: none;
  }

  .service.now-and-then {
    display: none;
  }

}

/***********************************************Thesis section**MQ end*/

/*********************/
/**5. Footer section**/
/*********************/

.footer {
  justify-content: space-between;
}

.footer span {
  font-size: 1rem;
  margin: 1rem 1.5rem 3rem 1.5rem;
}

/***********************************************Footer section**MQ start*/

@media only screen and (max-width: 750px) {
/* 5. Footer section*/
  .footer {
    justify-content: space-between;
  }

  .footer span {
    font-size: 1rem;
    margin: 1rem 1.5rem 1rem 1.5rem;
  }

  .footer span.computer {
    display: none;
  }

}

/***********************************************Footer section**MQ end*/
